.posts-list {
    text-align: left;
    padding: 1em;

    .post-excerpt {
        border: 1px solid rgb(145, 142, 142);
        border-radius: .5em;
        margin: .5em 0; 
        padding: .3em;

        h3 {
            margin-bottom: .5em;
        }

        p {
            margin: .5em 0;
        }
    }

    > button {
        margin: .5em 0;
        padding: .5em 1em;
        background-color: rgb(44, 89, 211);
        border: none;
        border-radius: .3em;
        color: white;
        
        &:disabled {
            background-color: rgb(90, 122, 209);
        }
        &:enabled:hover {
            background-color: rgb(34, 69, 165);
        }
    }
}